################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Homework/App_Data/SkillTreeHomeworkDB_log.ldf
/Homework/bin
/.vs
/Homework/obj
/packages
