@using Homework.Models;
@function{
// For more information, visit http://go.microsoft.com/fwlink/?LinkID=204658
}

@helper CategoryDisplay(int inValue)
{
var Desc = DataDict.CategoryInfo[inValue].Desc;
var ForeColor = DataDict.CategoryInfo[inValue].ForeColor.Name;
    <div style="color:@ForeColor">@Desc</div>
}


